
#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &default_kscan;
		zmk,matrix-transform = &default_transform;
		zephyr,display = &oled;
	};

	default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <5>;

        map = <
			RC(0,0) RC(1,0) RC(2,0) RC(3,0)
			RC(0,1) RC(1,1) RC(2,1) RC(3,1)
			RC(0,2) RC(1,2) RC(2,2) RC(3,2)

                RC(4,0) RC(4,1) RC(4,2)
        >;
    };

	default_kscan: kscan {
		compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 7 GPIO_ACTIVE_HIGH> // col 0
            , <&pro_micro 8 GPIO_ACTIVE_HIGH> // col 1
            , <&pro_micro 9 GPIO_ACTIVE_HIGH> // col 2
            ;

        row-gpios
            = <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 0
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 1
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 2
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 3
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // row 4
            ;
	};
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
};

